{%extends 'all-pics/base.html'%}
{% block content %} 
{{ block.super}}

<div class art>
  <p class='text-center sly'>Sly Art</p>
  <p class='text-center sly'>Cool Sly Pics</p>
</div>


<script>
  function copylink(value) {
    function handler(event){
        event.clipboardData.setData('text/plain', value);
        event.preventDefault();
        document.removeEventListener('copy', handler, true);
    }
    document.addEventListener('copy', handler, true);
    document.execCommand('copy');
  }
  </script>
<div class="container">

  <!-- Looping through pics  -->
  

  <div class="row_image">
    {% for image_item in image %}
    <h2> {{ image_item.category }} </h2>
    <div class="test column_image all_images">
      <img style="width:50%" src="{{image_item.image_url}}" alt="images" data-toggle="modal" data-target="#{{image.image}}">

      <div id="{{image_item.image_name}}" class="modal fade bd-example-modal-xl p-4" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="">
              <h1 class="text-center">{{image_item.image}}</h1>
              <img width="100%"src="{{image.image_url}}" alt="check"><br>
              <br><div class="details container">
                <button type="button" class="btn btn-outline-info" name="button">{{image_item.category}}</button>
                <hr>
                <h2>Image Description</h2>
                <p>{{image_item.image_description}}</p>
                <hr>
                <h2>Location</h2>
                <p>Snapped in {{image_item.location}}</p>
                <hr>
                <input type="text" name="" value="" placeholder="{{image_item.image}}" class="text-muted">
                <button type="button" name="button" class="btn btn-info" value="{{image_item.image_url}}" onclick="copylink(this.value)">Copy Image Link</button>
              </div><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>


  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Sly pics</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}
