{%extends 'all-pics/base.html'%}
{% block content %} 
{{ block.super}}

<div class art>
  <p class='text-center sly'>Sly Art</p>
  <p class='text-center sly'>Cool Sly Pics</p>
  <img src="  background-image: url('https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjokJKb3Z7kAhWExoUKHV-5BUEQjRx6BAgBEAQ&url=https%3A%2F%2Ffriendlystock.com%2Fproduct%2Fearth-from-space-background%2F&psig=AOvVaw0upwzKI5KErCl6rP3_Qil6&ust=1566846734881827');" alt="">
</div>


<script>
  function copylink(value) {
    function handler(event){
        event.clipboardData.setData('text/plain', value);
        event.preventDefault();
        document.removeEventListener('copy', handler, true);
    }
    document.addEventListener('copy', handler, true);
    document.execCommand('copy');
  }
  </script>
<div class="container">

  <!-- Looping through pics  -->
  

  <div class="row"style="padding:0 2px;">

      {% for image_item in image %}
      <h2> {{ image_item.category }} </h2>
    
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"style="padding:0 2px;flex-wrap: wrap;"></div>
      <img style="width:100%" src="{{image_item.image.url}}" alt="images" data-toggle="modal" data-target="#{{image_item.id}}">

      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"style="padding:0 4px;flex: 25%;">
    </div>
  </div>
</div>


      <div id="{{image_item.id}}" class="modal fade bd-example-modal-xl p-4" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="">
              <h1 class="text-center">{{image_item.image}}</h1>
              <img width="50%"src="{{image_item.image.url}}" alt="check"><br>
              <br><div class="details container">
                <button type="button" class="btn btn-outline-info" name="button">{{image_item.category}}</button>
                <hr>
                <h2>Image Description</h2>
                <p>{{image_item.image_description}}</p>
                <hr>
                <h2>Location</h2>
                <p>Snapped in {{image_item.id}}</p>
                <hr>
                <input type="text" name="" value="" placeholder="{{image_item.image}}" class="text-muted">
                <button type="button" name="button" class="btn btn-info" value="{{image_item.image_url}}" onclick="copylink(this.value)">Copy Image Link</button>
              </div><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>


  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Sly pics</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}
