
{%extends 'all-pics/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if slypics%}
      <h2>Found {{ slypics|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 slypics for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if slypics %}
    {% for slypics in slypics %}
      <div class="col-sm-6 col-md-3">
          <h1>{{slypics.category}}</h1>
          
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
